name: MacOS C++ CI

on:
    workflow_dispatch:
    push:

jobs:
    macos-latest:
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v4
            - name: prerequisites
              run: |
                /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
                brew install blast
            - name: make
              run: make
            - name: test
              run: ./test_stxtyper.sh
            - name: Upload artifacts on failure
              uses: actions/upload-artifact@v4
              if: ${{ failure() }} # only run if the job fails
              with:
                name: stxtyper-failed-test-macos-latest
                path: |
                    ./*
                    test/*
                retention-days: 14

    macos-intel:
        runs-on: macos-15-intel
        steps:
            - uses: actions/checkout@v4
            - name: prerequisites
              run: |
                /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
                brew install blast
            - name: make
              run: make
            - name: test
              run: ./test_stxtyper.sh
            - name: Upload artifacts on failure
              uses: actions/upload-artifact@v4
              if: ${{ failure() }} # only run if the job fails
              with:
                name: stxtyper-failed-test-macos-intel
                path: |
                    ./*
                    test/*
                retention-days: 14

